// ----- COLORS -----

$white: #ffffff;
$black: #000000;
$primary-black: rgba($black, 0.65);
$primary-soft: rgba($black, 0.45);
$grey-bg-color: #ebebeb;
$medium-grey: #a5a5a5;
$light-grey: #d9d9d9;
$royal-blue: #4169e1;
$light-blue: #3498db;
$dark-blue: #009dfe;
$medium-blue: #009dff;
$medium-purple: #9689ff;
$purple: #c445e4;

// Text Colors
$grey-text: #898989;
$grey-medium-text: #7d7d7d;
$dark-grey-text: #474747;
$main-grey-text: #3b3b3b;

// Border Colors
$grey-border: #cccccc;
$grey-border-soft: #e6e6e6;
